In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Primero, una "serie"
s=pd.Series([61,81,81,11.0, np.nan, 0.71]) # el argumento es un array de numpy
s

0    61.00
1    81.00
2    81.00
3    11.00
4      NaN
5     0.71
dtype: float64

In [7]:
fechas=pd.date_range('20170901',periods=30)

DatetimeIndex(['2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17', '2017-09-18', '2017-09-19', '2017-09-20',
               '2017-09-21', '2017-09-22', '2017-09-23', '2017-09-24',
               '2017-09-25', '2017-09-26', '2017-09-27', '2017-09-28',
               '2017-09-29', '2017-09-30'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df=pd.DataFrame(np.random.randn(30,4), index=fechas, columns=list('ABCD')) 
#un data frame de una matriz y un indice de renglones y uno de columnas.

In [10]:
list('tuabuela')

['t', 'u', 'a', 'b', 'u', 'e', 'l', 'a']

In [12]:
list(range(2,5))

[2, 3, 4]

In [20]:
df2=pd.DataFrame({'A': 1.0,
     'B':pd.Timestamp('20170401'),
    'C': pd.Series(1.0, index=list(range(4)), dtype='float64'),
     'D':np.array([3]*4,dtype='int32'),
     'E': pd.Categorical(['coche', 'vocho','coche','vocho']),
     'F': 'foobar'})
#un data frame de un diccionario de cosas que parecen series

In [22]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

In [25]:
df.tail(2)

                   A         B         C         D
2017-09-29  0.739741  2.238879 -0.062020 -0.905097
2017-09-30 -0.079413  0.970845 -0.528132 -0.727537

In [27]:
df.index

DatetimeIndex(['2017-09-01', '2017-09-02', '2017-09-03', '2017-09-04',
               '2017-09-05', '2017-09-06', '2017-09-07', '2017-09-08',
               '2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',
               '2017-09-13', '2017-09-14', '2017-09-15', '2017-09-16',
               '2017-09-17', '2017-09-18', '2017-09-19', '2017-09-20',
               '2017-09-21', '2017-09-22', '2017-09-23', '2017-09-24',
               '2017-09-25', '2017-09-26', '2017-09-27', '2017-09-28',
               '2017-09-29', '2017-09-30'],
              dtype='datetime64[ns]', freq='D')

In [30]:
?df.describe()

In [33]:
df.sort_values(by='A')

                   A         B         C         D
2017-09-27 -2.087648  0.416958  2.005180  0.030969
2017-09-26 -1.707463  1.360171  0.785305  0.287501
2017-09-07 -1.215693  0.344563  0.065707  1.205817
2017-09-11 -1.200995  0.062498  2.682966  1.189213
2017-09-21 -1.163389  0.047265 -0.832849 -1.016941
2017-09-18 -1.149729 -0.324206 -0.418786  0.187925
2017-09-10 -0.908609 -1.189265  1.276638  2.715750
2017-09-03 -0.478286  0.124827  1.068684 -1.676853
2017-09-24 -0.418058 -1.946430  1.405674 -0.238403
2017-09-09 -0.340251  0.621153 -1.736601  0.343248
2017-09-06 -0.259345  1.666649 -0.099179 -1.767341
2017-09-16 -0.165964  0.577657  0.868528  0.523918
2017-09-02 -0.125475  0.757586 -0.118904  1.140518
2017-09-30 -0.079413  0.970845 -0.528132 -0.727537
2017-09-20 -0.042540  1.651003  1.778175  0.360821
2017-09-14 -0.028145  0.013275 -0.353256 -2.394978
2017-09-25  0.024040 -0.890884  1.499740  1.371219
2017-09-04  0.109283  0.026489  0.541964  2.714015
2017-09-13  0.248871 -0.223974 -1.777117  0.657068
2017-09-01  0.342474  0.664270  0.750878 -0.846371
2017-09-05  0.484490  0.113227  0.525482 -0.260109
2017-09-17  0.589323 -0.185093 -0.782901 -0.374796
2017-09-15  0.726008  0.858710 -1.245223  0.314094
2017-09-29  0.739741  2.238879 -0.062020 -0.905097
2017-09-19  1.086425  0.200067 -0.449182  0.024389
2017-09-23  1.103858  1.248011 -1.056747  1.149844
2017-09-22  1.182069  1.477711  1.420006  0.566618
2017-09-12  1.212033 -1.331322 -1.389896 -1.486835
2017-09-08  1.633317  0.914487  0.312842  0.275917
2017-09-28  1.854278  0.317072  0.857314 -1.438757

In [36]:
df['A'].dtype

dtype('float64')

In [38]:
df[6:20]==df['20170907':'20170920']

               A     B     C     D
2017-09-07  True  True  True  True
2017-09-08  True  True  True  True
2017-09-09  True  True  True  True
2017-09-10  True  True  True  True
2017-09-11  True  True  True  True
2017-09-12  True  True  True  True
2017-09-13  True  True  True  True
2017-09-14  True  True  True  True
2017-09-15  True  True  True  True
2017-09-16  True  True  True  True
2017-09-17  True  True  True  True
2017-09-18  True  True  True  True
2017-09-19  True  True  True  True
2017-09-20  True  True  True  True

In [43]:
a=df.loc[fechas[6]]

In [41]:
a.dtype

dtype('float64')

In [45]:
df.loc[:,['B','D']]

                   B         D
2017-09-01  0.664270 -0.846371
2017-09-02  0.757586  1.140518
2017-09-03  0.124827 -1.676853
2017-09-04  0.026489  2.714015
2017-09-05  0.113227 -0.260109
2017-09-06  1.666649 -1.767341
2017-09-07  0.344563  1.205817
2017-09-08  0.914487  0.275917
2017-09-09  0.621153  0.343248
2017-09-10 -1.189265  2.715750
2017-09-11  0.062498  1.189213
2017-09-12 -1.331322 -1.486835
2017-09-13 -0.223974  0.657068
2017-09-14  0.013275 -2.394978
2017-09-15  0.858710  0.314094
2017-09-16  0.577657  0.523918
2017-09-17 -0.185093 -0.374796
2017-09-18 -0.324206  0.187925
2017-09-19  0.200067  0.024389
2017-09-20  1.651003  0.360821
2017-09-21  0.047265 -1.016941
2017-09-22  1.477711  0.566618
2017-09-23  1.248011  1.149844
2017-09-24 -1.946430 -0.238403
2017-09-25 -0.890884  1.371219
2017-09-26  1.360171  0.287501
2017-09-27  0.416958  0.030969
2017-09-28  0.317072 -1.438757
2017-09-29  2.238879 -0.905097
2017-09-30  0.970845 -0.727537

In [48]:
df.loc['20170907':'20170920',['B','D']] #aqui, con .loc NO puedes ponerlo con indices enteros

                   B         D
2017-09-07  0.344563  1.205817
2017-09-08  0.914487  0.275917
2017-09-09  0.621153  0.343248
2017-09-10 -1.189265  2.715750
2017-09-11  0.062498  1.189213
2017-09-12 -1.331322 -1.486835
2017-09-13 -0.223974  0.657068
2017-09-14  0.013275 -2.394978
2017-09-15  0.858710  0.314094
2017-09-16  0.577657  0.523918
2017-09-17 -0.185093 -0.374796
2017-09-18 -0.324206  0.187925
2017-09-19  0.200067  0.024389
2017-09-20  1.651003  0.360821

In [51]:
type(df.loc['20170920',['B','D']]) # si reducimos mucho la dimension se convierte en otro objeto

pandas.core.series.Series

In [54]:
type(df.loc[fechas[6],'A'])

numpy.float64

In [58]:
df.iloc[1]  # con indices a la python recuerda. 0 es el 1!....

A   -0.125475
B    0.757586
C   -0.118904
D    1.140518
Name: 2017-09-02 00:00:00, dtype: float64

In [60]:
df.iloc[3:5,2:4] #again, python style, el endpoint NO esta incluido

                   C         D
2017-09-04  0.541964  2.714015
2017-09-05  0.525482 -0.260109

In [61]:
df.iloc[[2,7,9],[0,2]]

                   A         C
2017-09-03 -0.478286  1.068684
2017-09-08  1.633317  0.312842
2017-09-10 -0.908609  1.276638

In [62]:
df.iloc[24,2]

1.4997397802046308

In [65]:
df.iat[24,2] # este es un metodo rapido para localizar un valor

1.4997397802046308

In [68]:
df[df.A>0] #condiciones booleanas

                   A         B         C         D
2017-09-01  0.342474  0.664270  0.750878 -0.846371
2017-09-04  0.109283  0.026489  0.541964  2.714015
2017-09-05  0.484490  0.113227  0.525482 -0.260109
2017-09-08  1.633317  0.914487  0.312842  0.275917
2017-09-12  1.212033 -1.331322 -1.389896 -1.486835
2017-09-13  0.248871 -0.223974 -1.777117  0.657068
2017-09-15  0.726008  0.858710 -1.245223  0.314094
2017-09-17  0.589323 -0.185093 -0.782901 -0.374796
2017-09-19  1.086425  0.200067 -0.449182  0.024389
2017-09-22  1.182069  1.477711  1.420006  0.566618
2017-09-23  1.103858  1.248011 -1.056747  1.149844
2017-09-25  0.024040 -0.890884  1.499740  1.371219
2017-09-28  1.854278  0.317072  0.857314 -1.438757
2017-09-29  0.739741  2.238879 -0.062020 -0.905097

In [70]:
df[df>0] # "purga" booleanamnte el df.

                   A         B         C         D
2017-09-01  0.342474  0.664270  0.750878       NaN
2017-09-02       NaN  0.757586       NaN  1.140518
2017-09-03       NaN  0.124827  1.068684       NaN
2017-09-04  0.109283  0.026489  0.541964  2.714015
2017-09-05  0.484490  0.113227  0.525482       NaN
2017-09-06       NaN  1.666649       NaN       NaN
2017-09-07       NaN  0.344563  0.065707  1.205817
2017-09-08  1.633317  0.914487  0.312842  0.275917
2017-09-09       NaN  0.621153       NaN  0.343248
2017-09-10       NaN       NaN  1.276638  2.715750
2017-09-11       NaN  0.062498  2.682966  1.189213
2017-09-12  1.212033       NaN       NaN       NaN
2017-09-13  0.248871       NaN       NaN  0.657068
2017-09-14       NaN  0.013275       NaN       NaN
2017-09-15  0.726008  0.858710       NaN  0.314094
2017-09-16       NaN  0.577657  0.868528  0.523918
2017-09-17  0.589323       NaN       NaN       NaN
2017-09-18       NaN       NaN       NaN  0.187925
2017-09-19  1.086425  0.200067       NaN  0.024389
2017-09-20       NaN  1.651003  1.778175  0.360821
2017-09-21       NaN  0.047265       NaN       NaN
2017-09-22  1.182069  1.477711  1.420006  0.566618
2017-09-23  1.103858  1.248011       NaN  1.149844
2017-09-24       NaN       NaN  1.405674       NaN
2017-09-25  0.024040       NaN  1.499740  1.371219
2017-09-26       NaN  1.360171  0.785305  0.287501
2017-09-27       NaN  0.416958  2.005180  0.030969
2017-09-28  1.854278  0.317072  0.857314       NaN
2017-09-29  0.739741  2.238879       NaN       NaN
2017-09-30       NaN  0.970845       NaN       NaN

In [79]:
df3=df2.copy()

In [83]:
df3['G']=['one', 'one','two','three']
df3

     A          B    C  D      E       F      G
0  1.0 2017-04-01  1.0  3  coche  foobar    one
1  1.0 2017-04-01  1.0  3  vocho  foobar    one
2  1.0 2017-04-01  1.0  3  coche  foobar    two
3  1.0 2017-04-01  1.0  3  vocho  foobar  three

In [84]:
df3[df3['G'].isin(['two','three'])]

     A          B    C  D      E       F      G
2  1.0 2017-04-01  1.0  3  coche  foobar    two
3  1.0 2017-04-01  1.0  3  vocho  foobar  three

In [85]:
s1=pd.Series(range(30),index=pd.date_range('20170901',periods=30))

In [86]:
df['F']=s1

In [87]:
df.at[fechas[17], 'B']=0

In [88]:
df.iat[7,3]=0

In [89]:
df.loc[:,'D']=np.array([5]*len(df))

In [94]:
len(df)

30

In [103]:
df1=df.reindex(index=fechas[6:21],columns=list(df.columns)+['H'])
df1.loc[fechas[6]:fechas[11],'H'] = 1

In [104]:
df1.dropna(how='any')

                   A         B         C  D   F    H
2017-09-07 -1.215693  0.344563  0.065707  5   6  1.0
2017-09-08  1.633317  0.914487  0.312842  5   7  1.0
2017-09-09 -0.340251  0.621153 -1.736601  5   8  1.0
2017-09-10 -0.908609 -1.189265  1.276638  5   9  1.0
2017-09-11 -1.200995  0.062498  2.682966  5  10  1.0
2017-09-12  1.212033 -1.331322 -1.389896  5  11  1.0

In [106]:
df1.fillna(value=0.0)

                   A         B         C  D   F    H
2017-09-07 -1.215693  0.344563  0.065707  5   6  1.0
2017-09-08  1.633317  0.914487  0.312842  5   7  1.0
2017-09-09 -0.340251  0.621153 -1.736601  5   8  1.0
2017-09-10 -0.908609 -1.189265  1.276638  5   9  1.0
2017-09-11 -1.200995  0.062498  2.682966  5  10  1.0
2017-09-12  1.212033 -1.331322 -1.389896  5  11  1.0
2017-09-13  0.248871 -0.223974 -1.777117  5  12  0.0
2017-09-14 -0.028145  0.013275 -0.353256  5  13  0.0
2017-09-15  0.726008  0.858710 -1.245223  5  14  0.0
2017-09-16 -0.165964  0.577657  0.868528  5  15  0.0
2017-09-17  0.589323 -0.185093 -0.782901  5  16  0.0
2017-09-18 -1.149729  0.000000 -0.418786  5  17  0.0
2017-09-19  1.086425  0.200067 -0.449182  5  18  0.0
2017-09-20 -0.042540  1.651003  1.778175  5  19  0.0
2017-09-21 -1.163389  0.047265 -0.832849  5  20  0.0

In [107]:
pd.isnull(df1)

                A      B      C      D      F      H
2017-09-07  False  False  False  False  False  False
2017-09-08  False  False  False  False  False  False
2017-09-09  False  False  False  False  False  False
2017-09-10  False  False  False  False  False  False
2017-09-11  False  False  False  False  False  False
2017-09-12  False  False  False  False  False  False
2017-09-13  False  False  False  False  False   True
2017-09-14  False  False  False  False  False   True
2017-09-15  False  False  False  False  False   True
2017-09-16  False  False  False  False  False   True
2017-09-17  False  False  False  False  False   True
2017-09-18  False  False  False  False  False   True
2017-09-19  False  False  False  False  False   True
2017-09-20  False  False  False  False  False   True
2017-09-21  False  False  False  False  False   True

In [110]:
tub=df.mean(1)

In [112]:
type(tub)

pandas.core.series.Series

In [113]:
?pd.Series.shift

In [114]:
df1.apply(np.cumsum)

                   A         B         C   D    F    H
2017-09-07 -1.215693  0.344563  0.065707   5    6  1.0
2017-09-08  0.417624  1.259049  0.378549  10   13  2.0
2017-09-09  0.077373  1.880202 -1.358051  15   21  3.0
2017-09-10 -0.831236  0.690937 -0.081413  20   30  4.0
2017-09-11 -2.032231  0.753435  2.601552  25   40  5.0
2017-09-12 -0.820198 -0.577887  1.211656  30   51  6.0
2017-09-13 -0.571327 -0.801860 -0.565460  35   63  NaN
2017-09-14 -0.599472 -0.788585 -0.918716  40   76  NaN
2017-09-15  0.126536  0.070125 -2.163940  45   90  NaN
2017-09-16 -0.039428  0.647781 -1.295412  50  105  NaN
2017-09-17  0.549896  0.462688 -2.078313  55  121  NaN
2017-09-18 -0.599834  0.462688 -2.497098  60  138  NaN
2017-09-19  0.486591  0.662755 -2.946281  65  156  NaN
2017-09-20  0.444051  2.313758 -1.168105  70  175  NaN
2017-09-21 -0.719338  2.361023 -2.000954  75  195  NaN

In [115]:
df1.apply(lambda x : x.max()-x.min())

A     2.849010
B     2.982325
C     4.460082
D     0.000000
F    14.000000
H     0.000000
dtype: float64

In [116]:
len(df1)

15

In [123]:
s=pd.Series(np.random.randn(15),index=fechas[1:16]).shift(3)
s

2017-09-02         NaN
2017-09-03         NaN
2017-09-04         NaN
2017-09-05    0.703633
2017-09-06    0.797791
2017-09-07   -0.957401
2017-09-08    1.371489
2017-09-09    1.567692
2017-09-10   -0.253665
2017-09-11    1.548661
2017-09-12    0.814757
2017-09-13    0.669540
2017-09-14   -0.038477
2017-09-15   -1.722246
2017-09-16    0.215796
Freq: D, dtype: float64

In [128]:
df.sub(s,axis=0) #jaja el indice del objeto tiene que coincider, el resto da NaN.

                   A         B         C         D          F
2017-09-01       NaN       NaN       NaN       NaN        NaN
2017-09-02       NaN       NaN       NaN       NaN        NaN
2017-09-03       NaN       NaN       NaN       NaN        NaN
2017-09-04       NaN       NaN       NaN       NaN        NaN
2017-09-05 -0.219143 -0.590406 -0.178152  4.296367   3.296367
2017-09-06 -1.057136  0.868858 -0.896970  4.202209   4.202209
2017-09-07 -0.258292  1.301964  1.023109  5.957401   6.957401
2017-09-08  0.261828 -0.457003 -1.058647  3.628511   5.628511
2017-09-09 -1.907943 -0.946540 -3.304293  3.432308   6.432308
2017-09-10 -0.654944 -0.935600  1.530303  5.253665   9.253665
2017-09-11 -2.749656 -1.486163  1.134304  3.451339   8.451339
2017-09-12  0.397277 -2.146078 -2.204652  4.185243  10.185243
2017-09-13 -0.420669 -0.893514 -2.446657  4.330460  11.330460
2017-09-14  0.010332  0.051752 -0.314779  5.038477  13.038477
2017-09-15  2.448254  2.580956  0.477023  6.722246  15.722246
2017-09-16 -0.381759  0.361861  0.652732  4.784204  14.784204
2017-09-17       NaN       NaN       NaN       NaN        NaN
2017-09-18       NaN       NaN       NaN       NaN        NaN
2017-09-19       NaN       NaN       NaN       NaN        NaN
2017-09-20       NaN       NaN       NaN       NaN        NaN
2017-09-21       NaN       NaN       NaN       NaN        NaN
2017-09-22       NaN       NaN       NaN       NaN        NaN
2017-09-23       NaN       NaN       NaN       NaN        NaN
2017-09-24       NaN       NaN       NaN       NaN        NaN
2017-09-25       NaN       NaN       NaN       NaN        NaN
2017-09-26       NaN       NaN       NaN       NaN        NaN
2017-09-27       NaN       NaN       NaN       NaN        NaN
2017-09-28       NaN       NaN       NaN       NaN        NaN
2017-09-29       NaN       NaN       NaN       NaN        NaN
2017-09-30       NaN       NaN       NaN       NaN        NaN

In [131]:
s = pd.Series(np.random.randint(0, 7, size=1000000))
s.value_counts()

6    143150
1    143133
4    143084
0    142929
2    142890
5    142579
3    142235
dtype: int64