In [44]:
from scipy.stats import norm as gaussian
import matplotlib.pyplot as plt
import numpy as np
import pandas as pnd

In [3]:
gaussian.pdf(29)

9.551694541948838e-184

In [33]:
centro1=22
altura1=100
sigma=8
def mezcla(x):
    result= (altura1*gaussian.pdf(x,loc=centro1,scale=sigma) + 
            altura1/2*gaussian.pdf(x,loc=2*centro1,scale=2*sigma) + 
            altura1/3*gaussian.pdf(x,loc=3*centro1,scale=3*sigma))   
    return result

In [41]:
xxs=np.arange(0,100,0.5)
yys1=altura1*gaussian.pdf(xxs,loc=centro1,scale=sigma)
yys2=altura1/2*gaussian.pdf(xxs,loc=2*centro1,scale=2*sigma)
yys3=altura1/3*gaussian.pdf(xxs,loc=3*centro1,scale=3*sigma)
yymezclados=yys1+yys2+yys3

In [43]:
plt.plot(xxs,yys1, lw=1.5)
plt.plot(xxs,yys2, lw=1.5)
plt.plot(xxs,yys3, lw=1.5)
plt.plot(xxs, yymezclados)
plt.axvline(centro1,linewidth=2,c='k')
plt.axvline(centro1*2,linewidth=2,c='k')
plt.axvline(centro1*3,linewidth=2,c='k')
plt.show()

In [45]:
datos=pnd.read_csv("../DatosIntraCelularesFelipe/Sr_data.csv")

In [50]:
datos.head()

       All   Cell 1   Cell 2   Cell 3
0  10.8407  10.8407  27.8258  14.9290
1  11.4344  11.4344  16.0335  19.9644
2  11.8062  11.8062  22.2313  23.5026
3  13.0713  13.0713  24.4454  21.7621
4  13.2419  13.2419  43.8909  49.8145

In [69]:
(hist, bins) = np.histogram(datos["All"].dropna(), bins= 75)

In [70]:
plt.bar(bins[0:-1],hist)
plt.show()

In [71]:
gaussian.fit(datos["All"])

(29.174765288888885, 15.007794461268828)